@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2b2a33;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  line-height: 30px;
}

.title {
  font-family: 'Trispace', sans-serif;
  font-size: 4.5rem;
}

.subtitle {
  font-size: 3.5rem;
}

.App {
  color: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

input,
button {
  width: 200px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;
}
